[net]
# Testing
# batch=1
# subdivisions=1
# Training
batch=64
subdivisions=16
width=224
height=224
channels=3
momentum=0.9
decay=0.0005
angle=0
saturation = 1.5
exposure = 1.5
hue=.1

learning_rate=0.01
burn_in=16
max_batches = 5000
policy=steps
steps=4000,4500
scales=.1,.1

[freeze]
resnet=True
midas=False
yolo=True
planercnn=True

[yolo]
freeze=False
anchors = 10,13,  16,30,  33,23,  30,61,  62,45,  59,119,  116,90,  156,198,  373,326
classes=4
num=9
jitter=.3
ignore_thresh = .7
truth_thresh = 1
random=1